<h1>Administration Dashboard</h1>
<hr>
<div class="alert alert-info" style="width: 50%;" role="alert">
  <ul class="list-group">
    <%= link_to [:admin, :products] do %>
      <li id="admin-link" class="list-group-item">
        <span class="badge"><%= @num_products %></span>
        Number of products:
      </li>
    <% end %>
    <%= link_to [:admin, :categories] do %>
      <li id="admin-link" class="list-group-item">
        <span class="badge"><%= @num_categories %></span>
        Number of categories:
      </li>
    <% end %>
  </ul>
</div>