<h2 class="text-center">Category: <%= category.name %></h3>
<div class="panel panel-default products">
<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2">Product</th>
      <th>Price</th>
      <th>Qty Remaining</th>
    </tr>
  </thead>
  <tbody>
    <% products.each do |product| %>
      <%= render 'product', product: product %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="2" class="text-right">
        TOTAL ITEMS:
      </th>
      <th colspan="2">
        <%= category.products.size %>
      </th>
    </tr>
  </tfoot>
</table>
</div>