<div class="panel panel-default products">
<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2" class="text-right">Category Name:</th>
      <th colspan="2"><%= category.name %></th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th colspan="2" class="text-right">Number of Products:</th>
      <th colspan="2"><%= category.products.size %></th>
    </tr>
  </thead>
  <tbody>
    <% products.each do |product| %>
      <%= render 'product', product: product %>
    <% end %>
  </tbody>
</table>
</div>