<h1>About Us</h1>
<hr>
<div class="alert alert-info" role="alert">
  <p>Jungle is dedicated to connecting unique, creative and fun products with our eclectic clientele.</p>
  <p>Instead of having to dig through the dense forest of shops and products that exist, we bring the best of the Jungle to you!</p>
</div>
